<p id="notice"><%= notice %></p>
<% @current_word_count = @quiz.content.split(' ').count	 %>
<% avg_wpm_prose = 300;
est_time = time_quant(avg_wpm_prose,@current_word_count) %>



  <% temp = wpm_calc('3','45',@current_word_count) %>
  <% time_quant(temp,@current_word_count) %>

<p> The time is now <%= elmo = time_now %> </p>


<p>
  <b>Name:</b>
  <%= @quiz.name %>
</p>

<p>
  <b>Content:</b>
  <p>There are currently <%= @current_word_count %> words in this passage </p>
  <p> It should take you <%= est_time %> to finish the average being <%= avg_wpm_prose %> wpm</p>
  <%= @quiz.content %>
</p>



<!-- <iframe width="100%" height="300" src="http://jsfiddle.net/QUhjx/embedded/" allowfullscreen="allowfullscreen" frameborder="0"></iframe> -->





<%= link_to 'Edit', edit_quiz_path(@quiz) %> |
<%= link_to 'Back', quizzes_path %>
